html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}

/*
  font-family: 'Press Start 2P', cursive;
  font-family: 'Dosis', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Lato', sans-serif;
 */